<label>Server name</label>
<!-- <input type='text' class='form-controll' (input)='onUpdateServerName($event)'> -->
<input type='text' class='form-controll' (input)='onUpdateServerName($event)' [(ngModel)]='serverName'>
<button class="btn btn-primarey" [disabled]='!allowNewServer' (click)='onCreateServer()'>Add server</button>
<p>allowNewServer: {{allowNewServer}}</p>
<!-- <p>serverName: {{serverName}}</p> -->
<!-- <p>{{greeting()}}</p>
<p [innerText]="greeting()"></p> -->
<!-- <p> {{serverCreationStatus}}</p> -->
<p *ngIf="serverCreated else noServer">Server was created, servername is {{serverName}}</p>
<ng-template #noServer>
    <p>No server was created.</p>
</ng-template>
<app-server-component *ngFor="let server of servers"></app-server-component>